{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static './css/style.css' %}">

<!-- A for loop of i iterations in django to sysout n links with the structure localhost/display/i -->
<nav class="nav-bar">
    {% if not page and not graph%}
    <a class="nav-item current" href="{% url 'accueil' %}">Accueil</a>
    {% else %}
    <a class="nav-item" href="{% url 'accueil' %}">Accueil</a>
    {% endif %}
    {% if page == 1 %}
    <a class="nav-item current" href="{% url 'display_data' 1 %}">Clinical trials observationnal studies</a>
    {% else %}
    <a class="nav-item" href="{% url 'display_data' 1 %}">Clinical trials observationnal studies</a>
    {% endif %}
    {% if page == 2 %}
    <a class="nav-item current" href="{% url 'display_data' 2 %}">Clinical trials random trials</a>
    {% else %}
    <a class="nav-item" href="{% url 'display_data' 2 %}">Clinical trials random trials</a>
    {% endif %}
    {% if page == 3 %}
    <a class="nav-item current" href="{% url 'display_data' 3 %}">Publications observationnal studies</a>
    {% else %}
    <a class="nav-item" href="{% url 'display_data' 3 %}">Publications observationnal studies</a>
    {% endif %}
    {% if page == 4 %}
    <a class="nav-item current" href="{% url 'display_data' 4 %}">Publications random trials</a>
    {% else %}
    <a class="nav-item" href="{% url 'display_data' 4 %}">Publications random trials</a>
    {% endif %}
    {% if graph == 1 %}
    <a class="nav-item current" href="{% url 'display_graph' 1 %}">Graph 1</a>
    {% else %}
    <a class="nav-item" href="{% url 'display_graph' 1 %}">Graphiques</a>
    {% endif %}

</nav>