{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static './css/style.css' %}">

<!-- A for loop of i iterations in django to sysout n links with the structure localhost/display/i -->
<nav class="nav-bar">
    <a class="nav-item current" href="{% url 'accueil' %}">Accueil</a>

    <a class="nav-item" href="{% url 'display_data' 1 %}">Clinical trials observationnal studies</a>
    <a class="nav-item" href="{% url 'display_data' 2 %}">Clinical trials random trials</a>
    <a class="nav-item" href="{% url 'display_data' 3 %}">Publications observationnal studies</a>
    <a class="nav-item" href="{% url 'display_data' 4 %}">Publications random trials</a>

</nav>