{% load static %}
<link rel="stylesheet" href="{% static './css/style.css' %}">
<footer>
    <div>
        <p>Projet réalisé par :</p>
        <ul>
            <li> <a href="https://github.com/JulesLscx" target="_blank">Jules Lascoux</a> </li>
            <li> <a href="https://github.com/SpottyShadow" target="_blank">Théo Lemoine</a> </li>
            <li> <a href="https://github.com/soum12345" target="_blank">Soumaya Seddiki</a> </li>
            <li> <a href="https://github.com/Baran-Kaya-PS" target="_blank">Baran Kaya</a> </li>
            <li> <a href="https://github.com/Pierrick101" target="_blank">Pierrick Sizun</a> </li>
        </ul>
    </div>
    <div>
        <p>Projet réalisé dans le d'une situation d'apprentissage en 2ème année de BUT à l'université Paul Sabatier de
            Toulouse.</p>
    </div>

    <div>
        <ul>
            <li><a href="{% url 'readme' %}" target="_blank">Guide d'utilisation</a>
            </li>
            <li><a href="{% url 'readme' %}"> Plus d'informations</a></li>
        </ul>
    </div>
</footer>