/*
  A stylesheet customizing app (custom renderers)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 20px;
    font: 1.4em sans-serif;
}

[data-color="green"] {
    background: #37bc6c;
}

[data-color="orange"] {
    background: #fcb515;
}

/*
Make sticky nav template with a in a nav
*/
.nav-item {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #627ce0;
    text-decoration: none;
    color: #ffff;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.current {
    color: #333;
}

.nav-item:hover {
    color: #333;
}



footer {
    background: #627ce0;
    color: #ffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

footer>div {
    flex: 1;
    text-align: center;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: #627ce0;
    height: 70px;
    padding: 0 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}


.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.dashboard-container>div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.venue {
    /*Make it full width*/
    grid-column: 1 / -1;

}

.month_picker {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.date_sticky_picker {
    position: sticky;
    top: 70;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #888;
    text-decoration: none;
    color: #ffff;
    padding: 10px;
}

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
}

code {
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
}

/* Code in text */
p>code,
li>code,
dd>code,
td>code {
    background: #ffeff0;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}