/*
  A stylesheet customizing app (custom renderers)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 20px;
    font: 1.4em sans-serif;
}

[data-color="green"] {
    background: #37bc6c;
}

[data-color="orange"] {
    background: #fcb515;
}

/*
Make sticky nav template with a in a nav
*/
.nav-item {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #627ce0;
    text-decoration: none;
    color: #ffff;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.current {
    color: #333;
}

.nav-item:hover {
    color: #333;
}



footer {
    background: #627ce0;
    color: #ffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

footer>div {
    flex: 1;
    text-align: center;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: #627ce0;
    height: 10vh;
    max-height: 70px;
    padding: 0 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}