/*
  A stylesheet customizing app (custom renderers)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 20px;
    font: 1.4em sans-serif;
}

[data-color="green"] {
    background: #37bc6c;
}

[data-color="orange"] {
    background: #fcb515;
}

/*
Make sticky nav template with a in a nav
*/
.nav-item {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #627ce0;
    text-decoration: none;
    color: #ffff;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.current {
    color: #333;
}

.nav-item:hover {
    color: #333;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: #627ce0;
    height: 10vh;
    max-height: 70px;
    padding: 0 20px;
}