<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid infograph</title>
</head>

<body>
    <!-- A for loop of i iterations in django to sysout n links with the structure localhost/display/i -->
    <a href="http://localhost:8000/display/1">Clinical trials observationnal studies</a>
    <a href="http://localhost:8000/display/2">Clinical trials random trials</a>
    <a href="http://localhost:8000/display/3">Publications observationnal studies</a>
    <a href="http://localhost:8000/display/4">Publications random trials </a>

</body>

</html>