{% load static %}
{% include 'accueil.html' %}

{% block content %}
<title>
    Page d'accueil
</title>
<div class="date_sticky_picker">
    <form method="GET" action="{% url 'accueil' %}" class="month_picker">
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</div>

<div class="dashboard-container">
    <div class="chart-div">
        {{ chart_div|safe }}
    </div>
    <div class="registrygraph-div">
        {{ registrygraph_div|safe }}
    </div>
    <div class="venue">
        {{ clasConceptsgraph|safe }}
    </div>

    <div>
        {{ gender |safe}}
    </div>
    <div>
        {{ intervention_drug |safe}}
    </div>
    <div>
        {{ phase |safe}}
    </div>
    <div class="venue">
        {{ chartVenue|safe }}
    </div>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% include 'footer.html' %}