{{ data_base|json_script:"data_base" }}
<html lang="en">

<head>
    <title>Ag-Grid Basic Example</title>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
</head>

<body>
    <div id="example-table"></div>
    <div id="myGrid" style="height: 200px; width:90%;" class="ag-theme-alpine"></div>
</body>
<script>
    const rowData = JSON.parse(eval(document.getElementById('data_base').textContent));
    //console.log(document.getElementById('data_base').textContent);
    console.log();

    // let the grid know which columns and what data to use
    var columnDefs = [];
    for (var key in rowData[0]) {
        columnDefs.push({ headerName: key, field: key });
    }
    const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData
    };

    var rowPopupFormatter = function (e, row, onRendered) {
        var data = row.getData(),
            container = document.createElement("div"),
            contents = "<strong style='font-size:1.2em;'>Row Details</strong><br/><ul style='padding:0;  margin-top:10px; margin-bottom:0;'>";
        contents += "<li><strong>ID:</strong> " + data.id + "</li>";
        contents += "<li><strong>Registry:</strong> " + data.registry + "</li>";
        contents += "<li><strong>Date inserer:</strong> " + data.dateInserted + "</li>";
        contents += "<li><strong>Date:</strong> " + data.date + "</li>";
        contents += "<li><strong>Linkout:</strong> " + data.linkout + "</li>";
        contents += "<li><strong>Gender:</strong> " + data.gender + "</li>";
        contents += "<li><strong>Conditions:</strong> " + data.conditions + "</li>";
        contents += "<li><strong>Interventons:</strong> " + data.interventions + "</li>";
        contents += "<li><strong>Acronym:</strong> " + data.acronym + "</li>";
        contents += "<li><strong>Title:</strong> " + data.title + "</li>";
        contents += "<li><strong>Abstract:</strong> " + data.abstract + "</li>";
        contents += "<li><strong>Phase:</strong> " + data.phase + "</li>";
        contents += "</ul>";

        container.innerHTML = contents;

        return container;
    };

    //create header popup contents
    var headerPopupFormatter = function (e, column, onRendered) {
        var container = document.createElement("div");

        var label = document.createElement("label");
        label.innerHTML = "Filter Column:";
        label.style.display = "block";
        label.style.fontSize = ".7em";

        var input = document.createElement("input");
        input.placeholder = "Filter Column...";
        input.value = column.getHeaderFilterValue() || "";

        input.addEventListener("keyup", (e) => {
            column.setHeaderFilterValue(input.value);
        });

        container.appendChild(label);
        container.appendChild(input);

        return container;
    }

    //create dummy header filter to allow popup to filter
    var emptyHeaderFilter = function () {
        return document.createElement("div");;
    }

    //initialize table
    var table = new Tabulator("#example-table", {
        height: "311px",
        layout: "fitColumns",
        rowClickPopup: rowPopupFormatter, //add click popup to row
        columns: [
            { title: "id", field: "id", headerPopup: headerPopupFormatter, headerPopupIcon: "<i class='fas fa-filter' title='Filter column'></i>", headerFilter: emptyHeaderFilter, headerFilterFunc: "like" },
        ],
    });

    // setup the grid after the page has finished loading
    document.addEventListener('DOMContentLoaded', () => {
        const gridDiv = document.querySelector('#myGrid');
        if (!gridDiv) return;

        new agGrid.Grid(gridDiv, gridOptions);
    });
</script>

</html>